body {
  background: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 2em;
  text-align: center;
  gap: 10px;
}

.a {
  background: gray;
  flex-grow: 1;
}

.b {
  display: flex;
  min-height: 70vh;
  background: lightgray;
  justify-content: center;
}

.c {
  background: darkslategray;
  flex-grow: 1;
}



@media (min-width: 600px) {
  .container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .a {
    width: 100%;

  }
  .b {
    width: 65vw;
  }
}